<div>
  <h1>Interpolation String</h1>
  <h3>{{titleHeader}}</h3>
</div>

<hr>

<div>
  <h1>Property Binding</h1>
  <app-product [dataValue]="passingData"></app-product>
</div>

<hr>

<div>
  <h1>Event Binding</h1>
  <label>
    <input
      (change)="onChangeInput($event)"
      type="text">
  </label>
  <button (click)="onClickButton()">Click me to show alert!</button>

  <div>
    <app-counter-event (clickChanger)="clickChange($event)" [clickValue]="clickDefault"></app-counter-event>
  </div>
</div>

<hr>

<div>
  <h1>Two Way Binding</h1>
  <label>
    <input
      [(ngModel)]="inputValue"
      type="text">
  </label>
  <p>{{inputValue}}</p>
  <app-counter-two-way-binding [(data)]="clickTwoWayBinding"></app-counter-two-way-binding>
</div>

<hr>

<div>
  <h1>Pipes</h1>
  <p>Tanggal lahir saya adalah: {{myBirthday | date}}</p>
  <p>Tanggal lahir saya yang sudah dicustom adalah: {{myBirthday | date: 'd MMM yyyy' | uppercase}}</p>
  <p>Sisa uang saya adalah {{4000000 | currency:'USD'}}</p>
  <p>10 pangkat 3 adalah {{10 | pangkat:3}}</p>
</div>

<hr>

<div>
  <h1>Template Reference Variable</h1>
  <label>
    <input #inputParameter type="text">
  </label>
  <button (click)="showAlert(inputParameter.value)">Show input text!</button>
</div>
